@font-face {
    font-family: 'rf4000';
    src: url('/fonts/rf4000-regular.woff')
}
.family-base {
    font-family: "rf4000";
}
/* , Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif; */
.size-base {
    font-size: 1rem;
    letter-spacing: 0.06em;
}

.font-base {
    composes: size-base family-base;
}

.link, .link:visited, .link:active {
    color: #ed7303;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

@media all and (min-width: 28.75em) {
    .size-base {
        font-size: 1rem;
    }
}

@media all and (min-width: 46.25em) {
    .size-base {
        font-size: 1rem;
    }
}
@media screen and (max-width: 450px) {
  .size-base {
    font-style: 1rem;
  }
}
