.row {
    display: inline-block;
    background-color: white;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    letter-spacing: 0.06em;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
    vertical-align: middle;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 5px;
}
:global(.header:hover) {  /* TODO make hover work with this..*/
    color: #ed7303;
}
.rowChosen {
    composes: row;

    background-color: #ed7303;
    color: white;
}
:global(.chosen:hover) {  /* TODO make hover work with this..*/
    background-color: #ed7303;
    color: white;
}

.header {
    overflow: hidden;
    font-size: 2em;
    text-transform: uppercase;
    line-height: 1.08333em;
    font-family: "rf4000",Impact,Haettenschweiler,"Franklin Gothic Bold",Charcoal,"Helvetica Inserat","Bitstream Vera Sans Bold","Arial Black",sans serif;
    letter-spacing: 0.06em;
    padding: 10px;
    vertical-align: middle;
}

