.root {
    width: 100%;
    height: 100%;
    display: inline;
}

.base {
    display: block;
    background-color: #fafafa;
    border: 6px solid transparent;
    border-radius: 6px;
    overflow: visible;
    text-transform: uppercase;
    padding: 1em;
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 425px) {
  .base {
    padding: 6px;
  }
}

.hover-effect:hover {
    color: #ed7303;
    border-color: #ed7303;
}

.informing {
    composes: base hover-effect;
}

@keyframes rf-yinyang {
    0%   {
        border-color: white;
        color: black;
    }
    50% {
        border-color: #ed7303;
        color: #ed7303;
    }
    100%   {
        border-color: white;
        color: black;
    }
}

.animate-effect {
    animation: rf-yinyang 3.5s infinite ease;
}

.enabled {
    composes: base hover-effect animate-effect;

    cursor: pointer;
}

.finished {
    composes: base animate-effect;

    cursor: pointer;
}

.text {
    composes: font-base size-base from '../../styling/typography.css';
    display: inline-block;
    text-align: center;
}
