.family-base {
    font-family: "rf4000", Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
}

.size-base {
    font-size: 3vh;
    letter-spacing: 0.30vh;
}

.size-large {
    font-size: 4vh;
    letter-spacing: 0.25vh;
}

.size-huge {
    font-size: 5vh;
    letter-spacing: 0.35vh;
}

.font-base {
    composes: size-base family-base;

}

.font-large {
    composes: size-large family-base;

}

.font-huge {
    composes: size-huge family-base;

}
