
.baseBlock {
    /*composes: font-project from '../../styling/typography.css';*/

    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-bottom: 0.5em;
    overflow: hidden;
    text-align: center;
    width: 100%;
}

.row-effect:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.row {
    composes: baseBlock row-effect;
    color: #ed7303;
}

.chosen-effect:hover {
    border-color: #ed7303;
    color: white;
    transform: scale(1.02);
}

.rowChosen {
    composes: baseBlock chosen-effect;

    background-color: #ed7303;
    color: white;
}

.flex {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    composes: family-base from '../../styling/typography.css';
    composes: size-base from '../../styling/typography.css';

    padding: 1em;
    overflow: hidden;
    text-transform: uppercase;
}
