
.baseBlock {
    /*composes: font-project from '../../styling/typography.css';*/

    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    height: 9vh;
    margin-bottom: 0.6vh;
    overflow: hidden;
    text-align: center;
    width: 100%;
}

.row-effect:hover {
    color: #ed7303;
    transform: scale(1.02);
}

.row {
    composes: baseBlock row-effect;
}

.chosen-effect:hover {
    border-color: #ed7303;
    color: white;
    transform: scale(1.02);
}

.rowChosen {
    composes: baseBlock chosen-effect;

    background-color: #ed7303;
    color: white;
}

.flex {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    composes: family-base from '../../styling/typography.css';

    padding: 1%;
    font-size: 1.4em;
    letter-spacing: 0.13em;

    overflow: hidden;
    text-transform: uppercase;
}

