.root {
    display: block;
    background-color: white;
    width: 98%;
    margin-left: 1.2vw;
    border-radius: 4px;
    position: relative;
    height: 100%;
    overflow: hidden;
}

.stat {
    composes: family-base size-base from '../../styling/typography.css';

    z-index: 10;
    text-align: left;
    display: block;

    position: absolute;
}

.stat-effect:hover {
    color: white;
}

.statTL {
    composes: stat stat-effect;

    left: 0.4em;
    top: 0.15em;
}

.statBL {
    composes: stat stat-effect;

    left: 0.4em;
    bottom: 0.15em;
}

.share {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    background-color: #ed7303;
    height: 100%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
