.root {
    display: inline-block;
    background-color: white;
    width: 98%;
    margin-left: 1.2vw;
    border-radius: 4px;
    position: relative;
}

.flex {
    height: 9vh;
}

.stat {
    composes: family-base from '../../styling/typography.css';

    font-size: 1.4em;
    letter-spacing: 0.062em;

    z-index: 10;
    text-align: left;
    display: block;

    position: absolute;
}

.stat-effect:hover {
    color: white;
}

.statTL {
    composes: stat stat-effect;

    left: 1vw;
    top: 1vh;
}

.statBL {
    composes: stat stat-effect;

    left: 1vw;
    bottom: 1vh;
}

.share {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    background-color: #ed7303;
    height: 100%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
