.root {
    position: absolute;
    bottom: -8px;
    right: -8px;
    width: 50vw;
    z-index: 500;
}

.base {
    composes: font-base from '../../styling/typography.css';

    background-color: white;
    border: 4px solid #ed7303;
    border-radius: 4px;
    color: black;
}
